/**
Styles specific to 1planetsol.org
*/
.logo-container .logo{
    overflow: hidden;
    border: none;
    height: 100px;
    width: 100px;
    float: left;
}

.blurred-container .motto{
    color: #FFFFFF;
	/*font-family: "futura-pt", sans-serif;*/
    
    top: 140px;
    z-index: 3;

    display: block;
    margin: 0 auto;
    position: relative;
    width: 400px;
    height: 0;
}

.tagline {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.about {
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-size: 16px;
}

.subscribe {
    text-align: center;
    padding-top: 25px;
}

.ps-btn {
    border-radius: 0px;
    padding: 8px 42px;
    border-color: black;
    font-family: 'Nunito', sans-serif; 
    letter-spacing: 1px;
    font-weight: 600;
}

.space-60 {
    height: 60px;
    display: block;
    width: 100%;
}

.space-25 {
    height: 25px;
    display: block;
    width: 100%;
}

.mobile-container {
    background: #5f697a;
    /*background: rgba(52, 172, 220, 0.98);*/
    border-radius: 10px;
}

.img-mobile {
    display: inline-block;
    margin-bottom: 25px;
    max-width: 500px !important;
    max-height: 890px;
}

.subtitle-green {
    color: #157406;
}

.subtitle-mission {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title-mission, .title-news {
    font-size: 26px;
    text-transform: none;
}

.text-blue {
    color:  rgba(52, 172, 220, 0.98);
}

.ps-green {
    color: #bbc858;
}

.img-mission {
    background-image: url('../img/hot_kid.jpg'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 200px;
}

.img-carpenter {
    background-image: url('../img/carpenter.jpg'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 250px;
}

.img-frame {
    background-image: url('../img/frame.jpg'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 250px;
}

.img-rooftop {
    background-image: url('../img/rooftop.jpg'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 250px;
}

.img-family {
    background-image: url('../img/family.png'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 250px;
}

.img-kidsolar {
    background-image: url('../img/kids_solar_big 2.png'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 200px;
}

.img-roofpanel {
    background-image: url('../img/roofpanel.jpg'); 
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    height: 500px;
}

.img-carousel {
    background-size: cover;
}

.ps-center {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.ps-rowpad {
    padding-bottom: 5px;
}

.ps-font-Nunito {
    font-family: 'Nunito', sans-serif;
}

.ps-fontsize-20 {
    font-size: 20px;
}

.ps-fontsize-25 {
    font-size: 25px;
}

.ps-underline {
    text-decoration: underline;
}

.ps-topnav {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;

}

.ps-stats {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.ps-gray {
    color: #5f697a !important;
}

.ps-white {
    color: #ffffff !important;
}